/* Universal Styles */

html {
  font-size: 18px;
}

@media only screen and (max-width: 560px) {
  html {
    font-size: 15px;
  }
}

input:focus {
  outline: none;
}

/* Reusable Component - Image Container */

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background: #000;
}

.image-container img {
  width: 100%;
}

/* App Styles */

.App {
  font-family: 'Work Sans', sans-serif;
}

h1 {
  padding: .66rem 0;
  text-align: center;
  background-color: #cca353;
  font-family: Poppins, sans-serif;
  font-size: 1.8rem;
  color: #fff;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  color: #195d9c;
  text-decoration: unset;
}
a:hover {
  text-decoration: underline;
}

button {
  margin-top: 0.5rem; 
}

.newRecipeButton {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

input,
textarea {
  margin-top: 1.5rem;  
  margin-left: 0.5rem;
  margin-right: 0.5rem; 
  width: 80%;
  padding: 0.3rem;
  display: block;
  font: unset;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.recipe-navbar li {
  list-style: none;
}

.auth-home {
  position: absolute;
  width: 100px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin-left: -50px; /* margin is -0.5 * dimension */
  margin-top: -25px; 
}

.AdoumieBanner {
  position: relative;
  height:10px;
  top: 10%; 
  left: 20%;
}

.recipe-list {
  position: absolute;
  height:70px;
  top:8%;
  left:0;
  right:0;
}


.custContainer {
  position: relative;
  margin-top: 15%;
}

.newRecipeButton {
  position: relative; 
  margin-top: 80px; 
}